In [2]:
import numpy as np
import pandas as pd

In [3]:
def create_string_iterator(num_entries, prefix='Index ', postfix=''):
    return (f"{prefix}{n}{postfix}" for n in range(num_entries))

In [4]:
def generate_labels(num_entries, prefix='Index ', postfix=''):
    return list(create_string_iterator(num_entries, prefix=prefix, postfix=postfix))

In [5]:
generate_labels(3)

['Index 0', 'Index 1', 'Index 2']

In [6]:
generate_labels(5, '<', '>')

['<0>', '<1>', '<2>', '<3>', '<4>']

In [17]:
def create_data_frame(num_rows, num_columns, prefix='Index '):
    np.random.seed(267)
    array = np.random.normal(0.0, 10.0, (num_rows, num_columns))
    index = generate_labels(num_rows, prefix)
    columns = generate_labels(num_columns, prefix='Col ')
    return pd.DataFrame(array, index=index, columns=columns)

In [18]:
create_data_frame(3, 5)

             Col 0      Col 1     Col 2      Col 3      Col 4
Index 0   4.076693 -11.592472  5.758058   1.995488   7.433482
Index 1  -2.697633  10.386505  1.392989  -8.091764  -9.263259
Index 2  13.398781   3.364558 -4.504057  13.487790  19.387826

In [26]:
def create_csv_file(name, num_rows, num_columns, prefix='Index '):
    df = create_data_frame(num_rows, num_columns, prefix=prefix)
    df.to_csv(name)

In [27]:
# create_csv_file('example_data.csv', 1000, 8)

In [28]:
def create_excel_file(name, num_rows, num_columns, sheet_name='Sheet1'):
    df = create_data_frame(num_rows, num_columns)
    df.to_excel(name, sheet_name=sheet_name)

In [29]:
# create_excel_file('excel_data.xlsx', 100, 12)

In [30]:
# Need to manually add more sheets in Excel
# create_excel_file('excel_other_sheet.xlsx', 30, 8, sheet_name='Another Sheet')

In [32]:
create_csv_file('df2a.csv', 12, 5, prefix='')

In [39]:
create_csv_file('df1a.csv', 4000, 3)

In [40]:
create_csv_file('df1b.csv', 100_000, 1)

In [3]:
import pandas as pd
import statsmodels.api as sm
macrodata = sm.datasets.macrodata.load_pandas().data
macrodata.index = pd.Index(sm.tsa.datetools.dates_from_range('1959Q1', '2009Q3'))
macrodata = macrodata.astype({'year': 'int32'})
# print(sm.datasets.macrodata.NOTE)
macrodata.to_csv('macrodata.csv')